<div class="container my-5">
    <div class="text-center cuadricula">
        <h1 class="my-4">Bienvenido</h1>
        <p class="text-start mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nihil doloribus 
            iusto rem tenetur accusamus ullam tempora quia! Enim neque adipisci 
            magni voluptate optio laboriosam cupiditate eos eum animi nesciunt. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut officiis 
            dolores non soluta! Suscipit dolore corporis adipisci dicta cumque 
            assumenda hic. Rerum dolorem ipsum corrupti amet vero, sed deserunt provident?</p>
        <button class="btn boton" (click)="showHomeBtn()">Empezar presupuesto</button>
    </div>

</div>
