
<div class="mx-5 mt-5">
    <div><p>¿Qué quieres hacer?</p></div>

    <form presupuestoForm="ngForm">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="500" id="flexCheckDefault" name="web" >
            <label class="form-check-label" for="flexCheckDefault">
            Una página web (500€)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="300" id="flexCheckChecked" name="seo" >
            <label class="form-check-label" for="flexCheckDefault">
            Una consultoría SEO (300€)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="200" id="flexCheckChecked" name="google" >
            <label class="form-check-label" for="flexCheckDefault">
            Una campaña de Google Ads (200€)
            </label>
        </div>
    </form>
    <div>
        <p>Precio: 800€</p> 
    </div>
</div>