.panel{
    max-width: 50%;
    border: solid black 3px;
    border-radius: 7%;
    padding: 2rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.boton{
    background-color: rgb(247, 118, 32);
    color: white;
    font-weight: bold;
    font-size: 16px;

}
input{
  border-radius: 10px !important;
}
textarea:focus, input:focus{
  border: 3px solid black;
  border-radius: 10px !important;
}

.infobtn {
  cursor:pointer;
}

.modalBtn {
  padding: 2rem;
}
